<form class="go-create-servant" class="border">
  <fieldset>
    <input type='submit' value='Create Servant'>
  </fieldset>
</form>

<form class="show-servants" class="border">
  <fieldset>
    <input type='submit' value='Show Servants'>
  </fieldset>
</form>

<form class="change-pw" class="border">
  <fieldset>
    <input type='submit' value='Change Password'>
  </fieldset>
</form>

<form id="sign-out">
  <fieldset>
    <input type='submit' value='Sign out'>
  </fieldset>
</form>
