<form id='new-servant' class='border'>
  <fieldset>
    <legend>Add a new Servant</legend>
    <input type='text' name='servant[name]' placeholder='Servant Name'><br>
    <input type='text' name='servant[sclass]' placeholder='Servant Class'><br>
    <input type='text' name='servant[rarity]' placeholder='Servant Rarity'><br>
    <input type='text' name='servant[level]' placeholder='Servant Level'><br>
    <input type='text' name='servant[atk]' placeholder='Servant Attack'><br>
    <input type='text' name='servant[hp]' placeholder='Servant HP'>
    <input type='submit' value='Create Servant'>
  </fieldset>
</form>
<div id='result'></div>
