<form id='new-servant' class='border'>
  <fieldset>
    <legend>Add a new Servant</legend>
    <input type='text' name='servant[name]' placeholder='Servant Name'><br>
    <select name='servant[sclass]'>
      <option value='Saber'>Saber</option>
      <option value='Lancer'>Lancer</option>
      <option value='Archer'>Archer</option>
      <option value='Rider'>Rider</option>
      <option value='Caster'>Caster</option>
      <option value='Assassin'>Assassin</option>
      <option value='Berserker'>Berserker</option>
      <option value='Ruler'>Ruler</option>
      <option value='Avenger'>Avenger</option>
      <option value='Alter Ego'>Alter Ego</option>
      <option value='Moon Cancer'>Moon Cancer</option>
      <option value='Shielder'>Shielder</option>
    </select><br>
    <!-- <select name='servant[rarity]'>
      <option value='0'>0</option>
      <option value='1'>1</option>
      <option value='2'>2</option>
      <option value='3'>3</option>
      <option value='4'>4</option>
      <option value='5'>5</option>
    </select> -->
    <input type='text' name='servant[rarity]' placeholder='Servant Rarity'><br>
    <input type='text' name='servant[level]' placeholder='Servant Level'><br>
    <input type='text' name='servant[atk]' placeholder='Servant Attack'><br>
    <input type='text' name='servant[hp]' placeholder='Servant HP'>
    <input type='submit' value='Create Servant'>
  </fieldset>
</form>
<div id='result'></div>
