{{#if servant}}
  <form class='border update-servant'>
    <legend>Update Servant</legend>
    <div class='updatewindow'>
      <div class="key">
        <div class="line">Name: </div>
        <div class="line">Class: </div>
        <div class="line">Rarity: </div>
        <div class="line">Level: </div>
        <div class="line">Attack: </div>
        <div class="line">Health: </div>
      </div>
      <div class="value">
        <div class="line"><input type='text' name='servant[name]' placeholder='{{servant.name}}'></div>
        <div class="line">
          <select name='servant[sclass]'>
            {{> create-dropdown inputs=classes}}
          </select>
        </div>
        <div class="line"><select name='servant[rarity]'>
            {{> create-dropdown inputs=rarities}} </select></div>
            <div class="line"><input type='text' name='servant[level]' placeholder='{{servant.level}}'></div>
            <div class="line"><input type='text' name='servant[atk]' placeholder='{{servant.atk}}'></div>
            <div class="line"><input type='text' name='servant[hp]' placeholder='{{servant.hp}}'></div>
            <div class='col-2'><input type='submit' value='Update Servant'></div>
        </div>
      </div>
    </div>
  </form>
{{/if}}
