@import '~bootstrap/scss/bootstrap';

nav {
  display: flex;
}

.failure {
  border: 3px solid red;
}

.success {
  border: 3px solid green;
}

.servants-display, .single-servant, .update-form, .update-servant {
  display: flex;
}
