@import '~bootstrap/scss/bootstrap';

body {
  margin: 1em;
}

nav {
  display: flex;
}

button,
form {
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 2px;
}

.failure {
  border: 3px solid red;
}

.line,  {
  margin: 0;
  padding-right: 1em;
  height: 30px
}

.sort-options {
  padding: 1px;
}

.success {
  border: 3px solid green;
}

.new-servant, .servants-display, .single-servant, .update-form, .updatewindow {
  display: flex;
}
